<ul class="media-list">
  <% places.each do |place| %>
    <li class="media">
      <div>
        <p>現場名：<%= place.name %></p>
      </div>
      <div>
        <%= link_to '詳細', place_path(place), class: 'btn btn-primary btn-block' %>
      </div>
    </li>
  <% end %>
  <%= paginate places %>
</ul>